html {
	font-size: 100%;
	font-family: roboto;
}
body {
	 
/* max-width: 500px;*/
background: #4d90ab; /* blue-grey: 200*/

}
.material-icons.md12 { 
	font-size: 1.7rem; 
}

.material-icons {
	position: absolute;
	top: 0.9rem;
	left: 1rem
}
.header {
	position: relative;
	width: 18%;
    height: 9%;
	background-color: rgba(0, 0, 0, 0.8); /* pink color primario 500*/
	box-shadow: rgba(0,0,0,0.2) 0 2px 6px;
}


/* icono-menú dinamico*/
.iconMenu {
	cursor: pointer;
	padding: 1em;
	width: 4.4rem;
}
.iconMenu .iconMenu-line {
	background-color: #77b1ff;
	border-radius: 0.1rem;
	height: 0.4rem;
	width: 100%;	
	transition: all 0.3s;
}
.iconMenu .iconMenu-line:nth-child(2) { margin: 0.4rem 0; }
/* Effects del icono */
.on .iconMenu--lineTop { transform: rotate(45deg) translate(.41rem, .81rem); }
.on .iconMenu--lineCenter { opacity: 0; }
.on .iconMenu--lineBottom { transform: rotate(-45deg) translate(.34rem, -.7rem); }


/*  Menú movile-first*/
.mainMenu {
	position: absolute;
	display: none;
 	width: 196%;
 	left: 0%;
 	z-index: 1;

  }
.mainMenu-list {
	margin: 0;
	padding: 0;
}
.mainMenu-item {
	position: relative;
	list-style: none;
}
.mainMenu-link {
	display: block;
	font-size: 1.2rem;
	color: #fff; /* color negro*/
	background-color:rgba(0, 0, 0, 0.8);
	padding: 1em 0;
	padding-left: 2.6em;
	text-decoration: none;
	transition: 0.3s;
}
.mainMenu-link:hover {

	background-color: rgba(63, 145, 255, 0.85); /* color blue-grey 400*/
	box-shadow: rgba(0,0,0,0.2) 0 2px 6px;
	color: rgba(0, 0, 0, 0.8);
}

.header:hover .mainMenu{
	display: block;
}

.logo img{
    max-width: 66%;
    margin-left: 14%;
    margin-top: 5%;
}
 

footer {
  margin: 0 auto;
  width: 100%;
  background:#d0e7ea;
  border-top: 0.0625em solid lightgrey;
  bottom: 0;
  color: #000000;
  height: 5em;
  list-style: none;
 
}
footer:before,
footer:after {
  content: "";
  display: table;
  clear: both;
}
footer p {
  float: left;
  text-align: center;
  width: 100%;
  padding: 1.25em;

}
