body{
	background: #5C99B2 ;
}

#contenidoProducto{
	width: 500px;
	height: 350px;
	position: relative;
	margin-top: 5%;
	background: #F908DA;
	margin-left: 50px;
}

img{
	position: absolute;
}
.contenedorCaracteristicas{
	position: absolute;
	left: 45%;
}